* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 150px;
}

#toolbar-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
  display: flex;
  flex-direction: row;

  .toolbar-item {
    margin-right: 1rem;
  }
}

#toolbar-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  overflow: auto;

  > button {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  > button > img {
    height: 50px;
    width: 50px;
  }
}

#info-panel {
  display: block;
  margin: 0 auto;
  max-width: 1024px;
  margin-top: 1rem;
  margin-bottom: 100px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 100px;
}

.price {
  white-space: nowrap;
}

canvas {
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
}

summary {
  cursor: pointer;
}
